:root{
    --primary:#f4f4fe;
    --header:#091945;
    --text:#FFFFFF;
    --contact:#2d304e;
}
body{
    background: var(--primary);
    font-family:'Baskervville', serif;
}
html{
    font-size: 62.5%;
}
#header .navbar {
    background: var(--header);
    /*z-index: 1;*/
    opacity: .9;
}
#header .navbar h2, #header .navbar a {
    color: var(--text);
}
.container-fluid .navbar-brand  img {
    width: 6rem;
    height: 4rem;
}
.carousel-inner{
    padding-top: 4.2rem;
}
#main{
    height: auto;
}
#gallery {
    margin: auto;
}
.navbar-toggler{
    background: var(--primary);
    font-size: 2rem;
}
.carousel-item{
    height: 40rem;
}
.carousel-control-prev-icon{
    left: 1rem;
}
.carousel-control-next-icon{
    right: 1rem;
}
.col .row{
    height: 20rem;
}
#retablos-item{
    width: 92%;
    margin: auto;
}
#retablos{
    background:var(--text);
}
#retablos img{
    width: 100%;
    height: 50vh;
}

#contact {
    width: 99%;
    margin: auto;
    background:var(--contact);
}
#contact-u h2{
    color: var(--text);
}
#contact a i{
    font-size: 5rem;
    padding: .5rem .8rem;
    border-radius: 6px;
    margin: 2rem;
}
#contact a {
    text-decoration: none;
}
#contact .fa-facebook{
    background: linear-gradient(#0575e6,#021b79);
    color: #FFFFFF;
}
#contact .fa-instagram{
    background: linear-gradient(45DEG,#405DE6,#5851DB,#833AB4,#C13584,#E1306C,#FD1D1D);
    color: #FFFFFF;
}
#contact .fa-whatsapp{
    background: linear-gradient(#149582, #07a759);
    color: #FFFFFF;
}
footer{
    width: 100%;
    height: 3rem;
    background: var(--header);
    color: var(--text);
}

@media screen and (min-width: 1024px){
    .navbar-nav {
        padding-right: 4rem;
    }
}